<div class="container-fluid">
  <h1 class="page-header">
    Rescues

    <small class="text-muted">
      displaying page {{ page }} of {{ totalPages }}
    </small>
  </h1>

  <div class="row">
    <div class="col-md-12">
      <table class="table table-responsive table-sm table-striped table-hover" style="table-layout: fixed">
        <thead>
          <tr>
            <th>Created</th>
            <th>System</th>
            <th>First Limpet</th>
            <th>Code Red</th>
            <th>Successful</th>
            <th>Actions</th>
          </tr>
        </thead>

        <tbody>
          {{#each rescues}}
            <tr>
              <td>{{ dateFormat createdAt }}</td>
              <td>{{ system }}</td>
              <td>{{ firstLimpet.CMDRname }}</td>
              <td>{{ codeRed }}</td>
              <td>{{ successful }}</td>
              <td>
                <div class="btn-group">
                  <a class="btn btn-primary" href="/rescues/edit/{{ _id }}">Edit</a>
                  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"></button>
                  <div class="dropdown-menu">
                    <a class="btn btn-primary" href="/rescues/edit/{{ _id }}">Edit</a>
                  </div>
                </div>
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
    <div class="col-md-12">
      <nav>
        <ul class="pager">
          {{#if previousPage}}
            <li class="pager-prev"><a href="/rescues/list/{{ previousPage }}">Previous Page</a></li>
          {{/if}}
          {{#if nextPage}}
            <li class="pager-next"><a href="/rescues/list/{{ nextPage }}">Next Page</a></li>
          {{/if}}
        </ul>
      </nav>
    </div>
  </div>
</div>
