<nav class="navbar navbar-light bg-faded">
  <div class="navbar-brand">Welcome, {{ email }}</div>

  <ul class="nav navbar-nav pull-xs-right">
    <li class="nav-item">
      <a href="/logout" class="nav-link">Logout</a>
    </li>
  </ul>
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <div class="card">
        <div class="card-header">
          <strong>Your CMDRs</strong>
        </div>

        <div class="card-block">
<!--        <ul class="list-group list-group-flush rat-list">-->
          <ul class="nav nav-stacked rat-list">
            {{#each CMDRs}}
  <!--            <li class="list-group-item">-->
              <li class="nav-item">
                <a class="nav-link active" href="#rescues-{{ _id }}">
                  {{ CMDRname }}
                  <span class="label label-pill label-default">{{ platform }}</span>
                </a>
              </li>
            {{/each}}
          </ul>
        </div>

        <div class="card-footer form-inline rat-adder" hidden>
          <div class="row">
            <input type="text" placeholder="Add Rat" class="form-control" data-autocomplete="CMDRname">
            <button type="button" class="btn btn-primary">Add</button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-9">
      {{#each CMDRs}}
        <h2 id="rescues-{{ _id }}">
          {{ CMDRname }}
          <small class="text-muted pull-xs-right">{{ rescues.length }} rescues</small>
        </h2>
        <hr>

        {{#if rescues}}
          <table class="table table-bordered table-striped table-hover">
            <thead class="thead-default">
              <tr>
                <th>Date</th>
                <th>Success/Failure</th>
                <th>System</th>
                <th>Notes</th>
              </tr>
            </thead>

            <tbody>
              {{#each rescues}}
                <tr>
                  <td>{{ dateFormat createdAt }}</td>
                  <td class="{{#if successful}} table-success {{ else }} table-danger {{/if}}">
                    {{#if successful}} Success {{ else }} Failure {{/if}}
                  </td>
                  <td>{{ system }}</td>
                  <td>{{ notes }}</td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        {{else}}
          No rescues found for {{ CMDRname }}
        {{/if}}
      {{/each}}
    </div>
  </div>
</div>
