<div class="container-fluid">
  <nav class="navbar navbar-light bg-faded">
    {{#if rat.CMDRname }}
    <div class="navbar-brand">CMDR {{ rat.CMDRname }}</div>
    {{ else }}
    <div class="navbar-brand">CMDR {{ rat.gamertag }}</div>
    {{/if}}

    <ul class="nav navbar-nav pull-xs-right">
      <li class="nav-item">
        <a href="/logout" class="nav-link">Logout</a>
      </li>
    </ul>
  </nav>

  <div class="row">
    {{#each rat.rescues }}
      <div class="col-sm-4">
        <div class="card rescue-card">
<!--
          <div class="card-block">
            <h3 class="card-title"></h3>
            <p class="card-text"></p>
          </div>
-->

          <ul class="list-group list-group-flush">
            <li class="list-group-item list-group-item-success rescue-successful">{{ open }}</li>
            {{#unless open }}
              {{#if successful }}
                <li class="list-group-item list-group-item-success rescue-successful">Success</li>
              {{ else }}
                <li class="list-group-item list-group-item-danger rescue-successful">Failed</li>
              {{/if}}
            {{/unless}}
            {{#if codeRed }}
              <li class="list-group-item list-group-item-danger rescue-codeRed">CODE RED</li>
            {{/if}}
            <li class="list-group-item rescue-system">{{ system }}</li>
            <li class="list-group-item rescue-platform">{{ platform }}</li>
            {{#if notes }}
              <li class="list-group-item rescue-notes">{{ notes }}</li>
            {{/if}}
          </ul>
        </div>
      </div>
    {{/each}}
  </div>
</div>
